<head>
  <link rel="stylesheet" href="style1.css" />
  <title>Pug </title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
</head>
<script>
  var varPug = !{logDni}
  if (varPug) {
    console.log('existe')
  }console.log('no existe')
    

</script>

<body>
  <input class="search" id="search1" type="button" value="Buscar">
</body>

<input class="botonC" id="botonC" type="botton" value="Cancela tu CUBER" />

</html>