
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    script(src='jquery-3.6.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js' integrity='sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/' crossorigin='anonymous')
  body
    #imprimir
     .contenedorPdfCabe
       img.logoPdf(src='logo.png')
       h1.TesxtoCabePdf(style='color: black;')
         | CUBER
         p.parraPdf
           | You are ready?
     .contenedorPdfbody
       h1.TesxtoBodyPdf(style='color: black;')
         | Nombre:
         p.parraPdfBody
           | !{nombre}
       h1.TesxtoBodyPdf(style='color: black;')
         | Apellido:
         p.parraPdfBody
           | !{apellidos}
     .contenedorPdfTrak
       h1.TesxtoBodyPdfTrak(style='color: black;')
         | Nº de trayecto:
         p#outTra.parraPdfBody


    input(type='button' value='Click me' onclick='pruebaDivAPdf()')
    script(src='frontCancelar.js')