 
head
  link(rel='stylesheet',  href="/style.css")
  title Pug  
  nav.nav
    p.home Home
    div.login
      p.busqueda Nº de trayecto
      div.barra
        input.search(type='text' placeholder='🔍 search')
        input#logout.log(type='submit' value='Log out')
  section.textCentral
      h1.travel
        | Travel with us
        br
        |             Travel with CUBER
      p.travelp
        | No esperes, no desesperes
        br
        |             Con CUBER tu vida sera mas facil.
        br
        |             Somos conductores de tu tiempo y
        br
        |             no vamos a perderlo!!
      input.botonTravelSing(type='button' value='contenedorRegis')
  section.faldon
      p.faldonP
        | Actualmente solo disponemos de coches en
        br
        |             Barcelona!
        br
        |             Pronto estaremos en tu ciudad








  script(src='front.js')      