head
  link(rel='stylesheet',  href="/style1.css")
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  title Pug  
  nav.nav
    section.textNa
     p.home Home
     p.uCuber U CUBER
     div.login
       p.busqueda Nº de trayecto
       div.barra
         input.search(type='text' placeholder='🔍 search')
         input#logout.log(type='submit' value='Log out')
  section#boxUtotal.boxUtotal
      section#uBox.uBox
        #uCuberH.uCuberH
          #upersonalBox.upersonalBox
            #cabeceraU.cabeceraU
              h1#cabeTexU.cabeTexU
                | U Cuber
              p#pTexU.pTexU(style='color: grey;')
                | You are ready?
            #nombreU.nombreU
              p#FnameU.FnameU(style='color: grey;')
                | First name:
              p#outName.outName Javier
              p#LnameU.LnameU(style='color: grey;')
                | Last name:
              p#outLast.outLast Malandro
            #dniTelU.dniTelU
              p#dniU.dniU(style='color: grey;')
                | D.N.I:
              p#outDni.outDni 23123445T
              p#telU.telU(style='color: grey;')
                | Telefono:
              p#outTel.outTel 765398275
            #emailOU.emailOU
              p#emailU.emailU(style='color: grey;')
                | Email adress:
              p#outEmail.outEmail malandro@gmail.com
            input#botonU.botonU(type='button' value='Pide tu CUBER')
          #rutasHistorialBox.rutasHistorialBox
            h1#historialTexU.historialTexU
              | Historial:
            #contHisto.contHisto
              #contHistoText.contHistoText
                #contFechaText.contFechaText
                    p#fechaH.fechaH
                      | fecha:
                    output#fechaOu.fechaOu
                      | 12/02/21
                #salidLlegada.salidLlegada
                  p#salidaH.salidaH(style='color: red;')
                    | Salida:
                  output#salidaO.salidaO
                    | Estais de las Arts
                  p#llegadaH.llegadaH(style='color: red;')
                    | LLegada:
                  output#llegadaHO.llegadaHO
                    | Camp Barca
                #horas.horas
                  p#oraH.oraH(style='color: red;')
                    | Hora:
                  output#oraO.oraO
                    | 19:30h
                  p#oraHS.oraHS(style='color: red;')
                    | Hora:
                  output#oraSO.oraSO
                    | 20:13h
                #precioHis.precioHis
                  p#precioH.precioH(style='color: grey;')
                    | Precio:
                  output#precioHO.precioHO
                    | 20€
      #map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom(tabindex='0' style='position: relative;')
        .leaflet-pane.leaflet-map-pane(style='transform: translate3d(0px, -78px, 0px);')
          .leaflet-pane.leaflet-tile-pane
            .leaflet-layer(style='z-index: 1; opacity: 1;')
              .leaflet-tile-container.leaflet-zoom-animated(style='z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/7/5?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(205px, -370px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/8/5?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(717px, -370px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/7/6?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(205px, 142px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/8/6?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(717px, 142px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/6/5?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(-307px, -370px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/9/5?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(1229px, -370px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/6/6?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(-307px, 142px, 0px); opacity: 1;')
                img.leaflet-tile.leaflet-tile-loaded(alt='' role='presentation' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/4/9/6?access_token=pk.eyJ1IjoiY2Nhc3RpbGxvMDZtYiIsImEiOiJja2k1eXpybXU3em1mMnRsNjNqajJ0YW12In0.aFQJlFDBDQeUpLHT4EiRYg' style='width: 512px; height: 512px; transform: translate3d(1229px, 142px, 0px); opacity: 1;')
          .leaflet-pane.leaflet-shadow-pane
          .leaflet-pane.leaflet-overlay-pane
          .leaflet-pane.leaflet-marker-pane
          .leaflet-pane.leaflet-tooltip-pane
          .leaflet-pane.leaflet-popup-pane
          .leaflet-proxy.leaflet-zoom-animated(style='transform: translate3d(4012px, 3088.5px, 0px) scale(16);')
        .leaflet-control-container
          .leaflet-top.leaflet-left
            .leaflet-control-zoom.leaflet-bar.leaflet-control
              a.leaflet-control-zoom-in(href='#' title='Zoom in' role='button' aria-label='Zoom in') +
              a.leaflet-control-zoom-out(href='#' title='Zoom out' role='button' aria-label='Zoom out') −
          .leaflet-top.leaflet-right
          .leaflet-bottom.leaflet-left
          .leaflet-bottom.leaflet-right
            .leaflet-control-attribution.leaflet-control
              a(href='https://leafletjs.com' title='A JS library for interactive maps') Leaflet

  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  script(src='frontU.js')     