head
  link(rel='stylesheet' href='style1.css')
  title Pug  
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css')
  link(rel='stylesheet' href='https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css')
body  
  nav.nav
    section.textNa
     form(action="/logHome", method="post")  
      input.home(type='submit' value='Home')
      input.uCuber(type='submit' value='U CUBER')
      div.login
        p.busqueda Nº de trayecto 
        div.barra
           input.search(type='text' placeholder='🔍 search')
           input#logout.log(type='submit' value='Log out')
  section#boxUtotal.boxUtotal
      section#uBox.uBox
        #uCuberH.uCuberH
          #upersonalBox.upersonalBox
            #cabeceraU.cabeceraU
              h1#cabeTexU.cabeTexU
                | U Cuber
              p#pTexU.pTexU(style='color: grey;')
                | You are ready?
            #nombreU.nombreU
              p#FnameU.FnameU(style='color: grey;')
                | First name:
              p#outName.outName Javier
              p#LnameU.LnameU(style='color: grey;')
                | Last name:
              p#outLast.outLast Malandro
            #dniTelU.dniTelU
              p#dniU.dniU(style='color: grey;')
                | D.N.I:
              p#outDni.outDni 23123445T
              p#telU.telU(style='color: grey;')
                | Telefono:
              p#outTel.outTel 765398275
            #emailOU.emailOU
              p#emailU.emailU(style='color: grey;')
                | Email adress:
              p#outEmail.outEmail malandro@gmail.com
            input#botonU.botonU(type='button' value='Pide tu CUBER')
          #rutasHistorialBox.rutasHistorialBox
            h1#historialTexU.historialTexU
              | Historial:
            #contHisto.contHisto
              #contHistoText.contHistoText
                #contFechaText.contFechaText
                    p#fechaH.fechaH
                      | fecha:
                    output#fechaOu.fechaOu
                      | 12/02/21
                #salidLlegada.salidLlegada
                  p#salidaH.salidaH(style='color: red;')
                    | Salida:
                  output#salidaO.salidaO
                    | Estais de las Arts
                  p#llegadaH.llegadaH(style='color: red;')
                    | LLegada:
                  output#llegadaHO.llegadaHO
                    | Camp Barca
                #horas.horas
                  p#oraH.oraH(style='color: red;')
                    | Hora:
                  output#oraO.oraO
                    | 19:30h
                  p#oraHS.oraHS(style='color: red;')
                    | Hora:
                  output#oraSO.oraSO
                    | 20:13h
                #precioHis.precioHis
                  p#precioH.precioH(style='color: grey;')
                    | Precio:
                  output#precioHO.precioHO
                    | 20€
      img#map1.map1(src='barcelona.png')
  section#maxBoxPedir.maxBoxPedir
      img#logoPedir.logoPedir(src='logo.png' alt='')
      #mediumBoxPedir.mediumBoxPedir
        #mediumBoxPedirText.mediumBoxPedirText
          h1#selectTouText.selectTouText
            | Select your route
          p#livingTouText.livingTouText
            | and start living
        #minBoxPedir.minBoxPedir
          #puntosBoxText.puntosBoxText
            h2#puntosCabe.puntosCabe
              | Marca en el mapa tu recogida
            h2#calleMap.calleMap
            #mapaRutaIn.mapaRutaIn
              #map(style='width:100%; height:50vh; postion: relative; top: 56px')
            //- #map(style='width:100%; height: 100vh')  
            #pagoCuber.pagoCuber
              h2#tiempoFinal.tiempoFinal
                | Puedes tener un coche en menos de 30 min.
                br
                |                             tan solo: 20€ 
                br
                |                             Solo pagos con Tarjeta.
        form(action="/verCoche", method="post")         
          #botonpagar.botonpagar
            input#botonpagarB.botonpagarB(type='submit' value='Pedir Cuber')

  
  script(src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js')
  script(src='https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js')
  script(src='https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js')
  script(type='module' src='frontU.js')     
